<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eden.logistics.common.dao.CarSourceMapper" >
  <resultMap id="BaseResultMap" type="com.eden.logistics.common.domain.CarSource" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DEPATURE_AREA_ID" property="depatureAreaId" jdbcType="INTEGER" />
    <result column="DESTINATION_AREA_ID" property="destinationAreaId" jdbcType="INTEGER" />
    <result column="CAR_TYPE" property="carType" jdbcType="INTEGER" />
    <result column="CAR_NUMBER" property="carNumber" jdbcType="VARCHAR" />
    <result column="CAR_LENGTH" property="carLength" jdbcType="INTEGER" />
    <result column="CAR_WIDTH" property="carWidth" jdbcType="INTEGER" />
    <result column="CAR_HEIGHT" property="carHeight" jdbcType="INTEGER" />
    <result column="CAR_TONNAGE" property="carTonnage" jdbcType="INTEGER" />
    <result column="CAR_VOLUME" property="carVolume" jdbcType="INTEGER" />
    <result column="CAR_SOURCE_DESCRIPTION" property="carSourceDescription" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_NAME" property="contactUserName" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_MOBILE" property="contactUserMobile" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_PHONE" property="contactUserPhone" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_EMAIL" property="contactUserEmail" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_QQ" property="contactUserQq" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_WECHAT" property="contactUserWechat" jdbcType="VARCHAR" />
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="PUBLISH_USER_ID" property="publishUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DEPATURE_AREA_ID, DESTINATION_AREA_ID, CAR_TYPE, CAR_NUMBER, CAR_LENGTH, CAR_WIDTH, 
    CAR_HEIGHT, CAR_TONNAGE, CAR_VOLUME, CAR_SOURCE_DESCRIPTION, CONTACT_USER_NAME, CONTACT_USER_MOBILE, 
    CONTACT_USER_PHONE, CONTACT_USER_EMAIL, CONTACT_USER_QQ, CONTACT_USER_WECHAT, PUBLISH_TIME, 
    PUBLISH_USER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eden.logistics.common.domain.CarSourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_car_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_car_source
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_car_source
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eden.logistics.common.domain.CarSourceExample" >
    delete from tbl_car_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eden.logistics.common.domain.CarSource" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_car_source (DEPATURE_AREA_ID, DESTINATION_AREA_ID, 
      CAR_TYPE, CAR_NUMBER, CAR_LENGTH, 
      CAR_WIDTH, CAR_HEIGHT, CAR_TONNAGE, 
      CAR_VOLUME, CAR_SOURCE_DESCRIPTION, CONTACT_USER_NAME, 
      CONTACT_USER_MOBILE, CONTACT_USER_PHONE, CONTACT_USER_EMAIL, 
      CONTACT_USER_QQ, CONTACT_USER_WECHAT, PUBLISH_TIME, 
      PUBLISH_USER_ID)
    values (#{depatureAreaId,jdbcType=INTEGER}, #{destinationAreaId,jdbcType=INTEGER}, 
      #{carType,jdbcType=INTEGER}, #{carNumber,jdbcType=VARCHAR}, #{carLength,jdbcType=INTEGER}, 
      #{carWidth,jdbcType=INTEGER}, #{carHeight,jdbcType=INTEGER}, #{carTonnage,jdbcType=INTEGER}, 
      #{carVolume,jdbcType=INTEGER}, #{carSourceDescription,jdbcType=VARCHAR}, #{contactUserName,jdbcType=VARCHAR}, 
      #{contactUserMobile,jdbcType=VARCHAR}, #{contactUserPhone,jdbcType=VARCHAR}, #{contactUserEmail,jdbcType=VARCHAR}, 
      #{contactUserQq,jdbcType=VARCHAR}, #{contactUserWechat,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{publishUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eden.logistics.common.domain.CarSource" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_car_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depatureAreaId != null" >
        DEPATURE_AREA_ID,
      </if>
      <if test="destinationAreaId != null" >
        DESTINATION_AREA_ID,
      </if>
      <if test="carType != null" >
        CAR_TYPE,
      </if>
      <if test="carNumber != null" >
        CAR_NUMBER,
      </if>
      <if test="carLength != null" >
        CAR_LENGTH,
      </if>
      <if test="carWidth != null" >
        CAR_WIDTH,
      </if>
      <if test="carHeight != null" >
        CAR_HEIGHT,
      </if>
      <if test="carTonnage != null" >
        CAR_TONNAGE,
      </if>
      <if test="carVolume != null" >
        CAR_VOLUME,
      </if>
      <if test="carSourceDescription != null" >
        CAR_SOURCE_DESCRIPTION,
      </if>
      <if test="contactUserName != null" >
        CONTACT_USER_NAME,
      </if>
      <if test="contactUserMobile != null" >
        CONTACT_USER_MOBILE,
      </if>
      <if test="contactUserPhone != null" >
        CONTACT_USER_PHONE,
      </if>
      <if test="contactUserEmail != null" >
        CONTACT_USER_EMAIL,
      </if>
      <if test="contactUserQq != null" >
        CONTACT_USER_QQ,
      </if>
      <if test="contactUserWechat != null" >
        CONTACT_USER_WECHAT,
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME,
      </if>
      <if test="publishUserId != null" >
        PUBLISH_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depatureAreaId != null" >
        #{depatureAreaId,jdbcType=INTEGER},
      </if>
      <if test="destinationAreaId != null" >
        #{destinationAreaId,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null" >
        #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="carLength != null" >
        #{carLength,jdbcType=INTEGER},
      </if>
      <if test="carWidth != null" >
        #{carWidth,jdbcType=INTEGER},
      </if>
      <if test="carHeight != null" >
        #{carHeight,jdbcType=INTEGER},
      </if>
      <if test="carTonnage != null" >
        #{carTonnage,jdbcType=INTEGER},
      </if>
      <if test="carVolume != null" >
        #{carVolume,jdbcType=INTEGER},
      </if>
      <if test="carSourceDescription != null" >
        #{carSourceDescription,jdbcType=VARCHAR},
      </if>
      <if test="contactUserName != null" >
        #{contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="contactUserMobile != null" >
        #{contactUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactUserPhone != null" >
        #{contactUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactUserEmail != null" >
        #{contactUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactUserQq != null" >
        #{contactUserQq,jdbcType=VARCHAR},
      </if>
      <if test="contactUserWechat != null" >
        #{contactUserWechat,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishUserId != null" >
        #{publishUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eden.logistics.common.domain.CarSourceExample" resultType="java.lang.Integer" >
    select count(*) from tbl_car_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_car_source
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.depatureAreaId != null" >
        DEPATURE_AREA_ID = #{record.depatureAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.destinationAreaId != null" >
        DESTINATION_AREA_ID = #{record.destinationAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.carType != null" >
        CAR_TYPE = #{record.carType,jdbcType=INTEGER},
      </if>
      <if test="record.carNumber != null" >
        CAR_NUMBER = #{record.carNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.carLength != null" >
        CAR_LENGTH = #{record.carLength,jdbcType=INTEGER},
      </if>
      <if test="record.carWidth != null" >
        CAR_WIDTH = #{record.carWidth,jdbcType=INTEGER},
      </if>
      <if test="record.carHeight != null" >
        CAR_HEIGHT = #{record.carHeight,jdbcType=INTEGER},
      </if>
      <if test="record.carTonnage != null" >
        CAR_TONNAGE = #{record.carTonnage,jdbcType=INTEGER},
      </if>
      <if test="record.carVolume != null" >
        CAR_VOLUME = #{record.carVolume,jdbcType=INTEGER},
      </if>
      <if test="record.carSourceDescription != null" >
        CAR_SOURCE_DESCRIPTION = #{record.carSourceDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserName != null" >
        CONTACT_USER_NAME = #{record.contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserMobile != null" >
        CONTACT_USER_MOBILE = #{record.contactUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserPhone != null" >
        CONTACT_USER_PHONE = #{record.contactUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserEmail != null" >
        CONTACT_USER_EMAIL = #{record.contactUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserQq != null" >
        CONTACT_USER_QQ = #{record.contactUserQq,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserWechat != null" >
        CONTACT_USER_WECHAT = #{record.contactUserWechat,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        PUBLISH_TIME = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.publishUserId != null" >
        PUBLISH_USER_ID = #{record.publishUserId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_car_source
    set ID = #{record.id,jdbcType=INTEGER},
      DEPATURE_AREA_ID = #{record.depatureAreaId,jdbcType=INTEGER},
      DESTINATION_AREA_ID = #{record.destinationAreaId,jdbcType=INTEGER},
      CAR_TYPE = #{record.carType,jdbcType=INTEGER},
      CAR_NUMBER = #{record.carNumber,jdbcType=VARCHAR},
      CAR_LENGTH = #{record.carLength,jdbcType=INTEGER},
      CAR_WIDTH = #{record.carWidth,jdbcType=INTEGER},
      CAR_HEIGHT = #{record.carHeight,jdbcType=INTEGER},
      CAR_TONNAGE = #{record.carTonnage,jdbcType=INTEGER},
      CAR_VOLUME = #{record.carVolume,jdbcType=INTEGER},
      CAR_SOURCE_DESCRIPTION = #{record.carSourceDescription,jdbcType=VARCHAR},
      CONTACT_USER_NAME = #{record.contactUserName,jdbcType=VARCHAR},
      CONTACT_USER_MOBILE = #{record.contactUserMobile,jdbcType=VARCHAR},
      CONTACT_USER_PHONE = #{record.contactUserPhone,jdbcType=VARCHAR},
      CONTACT_USER_EMAIL = #{record.contactUserEmail,jdbcType=VARCHAR},
      CONTACT_USER_QQ = #{record.contactUserQq,jdbcType=VARCHAR},
      CONTACT_USER_WECHAT = #{record.contactUserWechat,jdbcType=VARCHAR},
      PUBLISH_TIME = #{record.publishTime,jdbcType=TIMESTAMP},
      PUBLISH_USER_ID = #{record.publishUserId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eden.logistics.common.domain.CarSource" >
    update tbl_car_source
    <set >
      <if test="depatureAreaId != null" >
        DEPATURE_AREA_ID = #{depatureAreaId,jdbcType=INTEGER},
      </if>
      <if test="destinationAreaId != null" >
        DESTINATION_AREA_ID = #{destinationAreaId,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        CAR_TYPE = #{carType,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null" >
        CAR_NUMBER = #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="carLength != null" >
        CAR_LENGTH = #{carLength,jdbcType=INTEGER},
      </if>
      <if test="carWidth != null" >
        CAR_WIDTH = #{carWidth,jdbcType=INTEGER},
      </if>
      <if test="carHeight != null" >
        CAR_HEIGHT = #{carHeight,jdbcType=INTEGER},
      </if>
      <if test="carTonnage != null" >
        CAR_TONNAGE = #{carTonnage,jdbcType=INTEGER},
      </if>
      <if test="carVolume != null" >
        CAR_VOLUME = #{carVolume,jdbcType=INTEGER},
      </if>
      <if test="carSourceDescription != null" >
        CAR_SOURCE_DESCRIPTION = #{carSourceDescription,jdbcType=VARCHAR},
      </if>
      <if test="contactUserName != null" >
        CONTACT_USER_NAME = #{contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="contactUserMobile != null" >
        CONTACT_USER_MOBILE = #{contactUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactUserPhone != null" >
        CONTACT_USER_PHONE = #{contactUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactUserEmail != null" >
        CONTACT_USER_EMAIL = #{contactUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactUserQq != null" >
        CONTACT_USER_QQ = #{contactUserQq,jdbcType=VARCHAR},
      </if>
      <if test="contactUserWechat != null" >
        CONTACT_USER_WECHAT = #{contactUserWechat,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishUserId != null" >
        PUBLISH_USER_ID = #{publishUserId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eden.logistics.common.domain.CarSource" >
    update tbl_car_source
    set DEPATURE_AREA_ID = #{depatureAreaId,jdbcType=INTEGER},
      DESTINATION_AREA_ID = #{destinationAreaId,jdbcType=INTEGER},
      CAR_TYPE = #{carType,jdbcType=INTEGER},
      CAR_NUMBER = #{carNumber,jdbcType=VARCHAR},
      CAR_LENGTH = #{carLength,jdbcType=INTEGER},
      CAR_WIDTH = #{carWidth,jdbcType=INTEGER},
      CAR_HEIGHT = #{carHeight,jdbcType=INTEGER},
      CAR_TONNAGE = #{carTonnage,jdbcType=INTEGER},
      CAR_VOLUME = #{carVolume,jdbcType=INTEGER},
      CAR_SOURCE_DESCRIPTION = #{carSourceDescription,jdbcType=VARCHAR},
      CONTACT_USER_NAME = #{contactUserName,jdbcType=VARCHAR},
      CONTACT_USER_MOBILE = #{contactUserMobile,jdbcType=VARCHAR},
      CONTACT_USER_PHONE = #{contactUserPhone,jdbcType=VARCHAR},
      CONTACT_USER_EMAIL = #{contactUserEmail,jdbcType=VARCHAR},
      CONTACT_USER_QQ = #{contactUserQq,jdbcType=VARCHAR},
      CONTACT_USER_WECHAT = #{contactUserWechat,jdbcType=VARCHAR},
      PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP},
      PUBLISH_USER_ID = #{publishUserId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.eden.logistics.common.domain.CarSourceExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_car_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>