<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eden.logistics.common.dao.GoodsSourceImageViewMapper" >
  <resultMap id="BaseResultMap" type="com.eden.logistics.common.domain.GoodsSourceImageView" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="GOODS_SOURCE_ID" property="goodsSourceId" jdbcType="INTEGER" />
    <result column="IMG_FILE_ID" property="imgFileId" jdbcType="INTEGER" />
    <result column="IMG_FILE_UPLOAD_TIME" property="imgFileUploadTime" jdbcType="VARCHAR" />
    <result column="IMG_FILE_UPLOAD_TIME_INT" property="imgFileUploadTimeInt" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.eden.logistics.common.domain.GoodsSourceImageView" extends="BaseResultMap" >
    <result column="IMG_FILE_PATH" property="imgFilePath" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, GOODS_SOURCE_ID, IMG_FILE_ID, IMG_FILE_UPLOAD_TIME, IMG_FILE_UPLOAD_TIME_INT
  </sql>
  <sql id="Blob_Column_List" >
    IMG_FILE_PATH
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.eden.logistics.common.domain.GoodsSourceImageViewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from vw_goods_source_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eden.logistics.common.domain.GoodsSourceImageViewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_goods_source_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.eden.logistics.common.domain.GoodsSourceImageViewExample" >
    delete from vw_goods_source_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eden.logistics.common.domain.GoodsSourceImageView" >
    insert into vw_goods_source_image (ID, GOODS_SOURCE_ID, IMG_FILE_ID, 
      IMG_FILE_UPLOAD_TIME, IMG_FILE_UPLOAD_TIME_INT, 
      IMG_FILE_PATH)
    values (#{id,jdbcType=INTEGER}, #{goodsSourceId,jdbcType=INTEGER}, #{imgFileId,jdbcType=INTEGER}, 
      #{imgFileUploadTime,jdbcType=VARCHAR}, #{imgFileUploadTimeInt,jdbcType=BIGINT}, 
      #{imgFilePath,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eden.logistics.common.domain.GoodsSourceImageView" >
    insert into vw_goods_source_image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="goodsSourceId != null" >
        GOODS_SOURCE_ID,
      </if>
      <if test="imgFileId != null" >
        IMG_FILE_ID,
      </if>
      <if test="imgFileUploadTime != null" >
        IMG_FILE_UPLOAD_TIME,
      </if>
      <if test="imgFileUploadTimeInt != null" >
        IMG_FILE_UPLOAD_TIME_INT,
      </if>
      <if test="imgFilePath != null" >
        IMG_FILE_PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsSourceId != null" >
        #{goodsSourceId,jdbcType=INTEGER},
      </if>
      <if test="imgFileId != null" >
        #{imgFileId,jdbcType=INTEGER},
      </if>
      <if test="imgFileUploadTime != null" >
        #{imgFileUploadTime,jdbcType=VARCHAR},
      </if>
      <if test="imgFileUploadTimeInt != null" >
        #{imgFileUploadTimeInt,jdbcType=BIGINT},
      </if>
      <if test="imgFilePath != null" >
        #{imgFilePath,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eden.logistics.common.domain.GoodsSourceImageViewExample" resultType="java.lang.Integer" >
    select count(*) from vw_goods_source_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vw_goods_source_image
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsSourceId != null" >
        GOODS_SOURCE_ID = #{record.goodsSourceId,jdbcType=INTEGER},
      </if>
      <if test="record.imgFileId != null" >
        IMG_FILE_ID = #{record.imgFileId,jdbcType=INTEGER},
      </if>
      <if test="record.imgFileUploadTime != null" >
        IMG_FILE_UPLOAD_TIME = #{record.imgFileUploadTime,jdbcType=VARCHAR},
      </if>
      <if test="record.imgFileUploadTimeInt != null" >
        IMG_FILE_UPLOAD_TIME_INT = #{record.imgFileUploadTimeInt,jdbcType=BIGINT},
      </if>
      <if test="record.imgFilePath != null" >
        IMG_FILE_PATH = #{record.imgFilePath,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update vw_goods_source_image
    set ID = #{record.id,jdbcType=INTEGER},
      GOODS_SOURCE_ID = #{record.goodsSourceId,jdbcType=INTEGER},
      IMG_FILE_ID = #{record.imgFileId,jdbcType=INTEGER},
      IMG_FILE_UPLOAD_TIME = #{record.imgFileUploadTime,jdbcType=VARCHAR},
      IMG_FILE_UPLOAD_TIME_INT = #{record.imgFileUploadTimeInt,jdbcType=BIGINT},
      IMG_FILE_PATH = #{record.imgFilePath,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vw_goods_source_image
    set ID = #{record.id,jdbcType=INTEGER},
      GOODS_SOURCE_ID = #{record.goodsSourceId,jdbcType=INTEGER},
      IMG_FILE_ID = #{record.imgFileId,jdbcType=INTEGER},
      IMG_FILE_UPLOAD_TIME = #{record.imgFileUploadTime,jdbcType=VARCHAR},
      IMG_FILE_UPLOAD_TIME_INT = #{record.imgFileUploadTimeInt,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.eden.logistics.common.domain.GoodsSourceImageViewExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from vw_goods_source_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.eden.logistics.common.domain.GoodsSourceImageViewExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_goods_source_image
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>