<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eden.logistics.common.dao.GoodsSourceMapper" >
  <resultMap id="BaseResultMap" type="com.eden.logistics.common.domain.GoodsSource" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DEPATURE_AREA_ID" property="depatureAreaId" jdbcType="INTEGER" />
    <result column="DESTINATION_AREA_ID" property="destinationAreaId" jdbcType="INTEGER" />
    <result column="DEPATURE_TIME" property="depatureTime" jdbcType="TIMESTAMP" />
    <result column="ARRIVAL_TIME" property="arrivalTime" jdbcType="TIMESTAMP" />
    <result column="TRANSPORT_TYPE" property="transportType" jdbcType="INTEGER" />
    <result column="GOODS_TYPE" property="goodsType" jdbcType="INTEGER" />
    <result column="CAR_TYPE" property="carType" jdbcType="INTEGER" />
    <result column="NEED_CAR_NUMBER" property="needCarNumber" jdbcType="INTEGER" />
    <result column="GOODS_DESCRIPTION" property="goodsDescription" jdbcType="VARCHAR" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="GOODS_WEIGHT" property="goodsWeight" jdbcType="INTEGER" />
    <result column="GOODS_VOLUME" property="goodsVolume" jdbcType="INTEGER" />
    <result column="LINGDAN_PRICE" property="lingdanPrice" jdbcType="INTEGER" />
    <result column="ZHENGCHE_PRICE" property="zhengchePrice" jdbcType="INTEGER" />
    <result column="PRICE_OF_EVERY_TON" property="priceOfEveryTon" jdbcType="INTEGER" />
    <result column="PRICE_OF_EVERY_VOLUME" property="priceOfEveryVolume" jdbcType="INTEGER" />
    <result column="DELIVERY_COMPANY" property="deliveryCompany" jdbcType="VARCHAR" />
    <result column="DELIVERY_ADDRESS" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_NAME" property="contactUserName" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_MOBILE" property="contactUserMobile" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_PHONE" property="contactUserPhone" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_EMAIL" property="contactUserEmail" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_QQ" property="contactUserQq" jdbcType="VARCHAR" />
    <result column="CONTACT_USER_WECHAT" property="contactUserWechat" jdbcType="VARCHAR" />
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="BIGINT" />
    <result column="PUBLISH_USER_ID" property="publishUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DEPATURE_AREA_ID, DESTINATION_AREA_ID, DEPATURE_TIME, ARRIVAL_TIME, TRANSPORT_TYPE, 
    GOODS_TYPE, CAR_TYPE, NEED_CAR_NUMBER, GOODS_DESCRIPTION, GOODS_NAME, GOODS_WEIGHT, 
    GOODS_VOLUME, LINGDAN_PRICE, ZHENGCHE_PRICE, PRICE_OF_EVERY_TON, PRICE_OF_EVERY_VOLUME, 
    DELIVERY_COMPANY, DELIVERY_ADDRESS, CONTACT_USER_NAME, CONTACT_USER_MOBILE, CONTACT_USER_PHONE, 
    CONTACT_USER_EMAIL, CONTACT_USER_QQ, CONTACT_USER_WECHAT, PUBLISH_TIME, PUBLISH_USER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eden.logistics.common.domain.GoodsSourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_goods_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_goods_source
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_goods_source
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.eden.logistics.common.domain.GoodsSourceExample" >
    delete from tbl_goods_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eden.logistics.common.domain.GoodsSource" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_goods_source (DEPATURE_AREA_ID, DESTINATION_AREA_ID, 
      DEPATURE_TIME, ARRIVAL_TIME, TRANSPORT_TYPE, 
      GOODS_TYPE, CAR_TYPE, NEED_CAR_NUMBER, 
      GOODS_DESCRIPTION, GOODS_NAME, GOODS_WEIGHT, 
      GOODS_VOLUME, LINGDAN_PRICE, ZHENGCHE_PRICE, 
      PRICE_OF_EVERY_TON, PRICE_OF_EVERY_VOLUME, DELIVERY_COMPANY, 
      DELIVERY_ADDRESS, CONTACT_USER_NAME, CONTACT_USER_MOBILE, 
      CONTACT_USER_PHONE, CONTACT_USER_EMAIL, CONTACT_USER_QQ, 
      CONTACT_USER_WECHAT, PUBLISH_TIME, PUBLISH_USER_ID
      )
    values (#{depatureAreaId,jdbcType=INTEGER}, #{destinationAreaId,jdbcType=INTEGER}, 
      #{depatureTime,jdbcType=TIMESTAMP}, #{arrivalTime,jdbcType=TIMESTAMP}, #{transportType,jdbcType=INTEGER}, 
      #{goodsType,jdbcType=INTEGER}, #{carType,jdbcType=INTEGER}, #{needCarNumber,jdbcType=INTEGER}, 
      #{goodsDescription,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsWeight,jdbcType=INTEGER}, 
      #{goodsVolume,jdbcType=INTEGER}, #{lingdanPrice,jdbcType=INTEGER}, #{zhengchePrice,jdbcType=INTEGER}, 
      #{priceOfEveryTon,jdbcType=INTEGER}, #{priceOfEveryVolume,jdbcType=INTEGER}, #{deliveryCompany,jdbcType=VARCHAR}, 
      #{deliveryAddress,jdbcType=VARCHAR}, #{contactUserName,jdbcType=VARCHAR}, #{contactUserMobile,jdbcType=VARCHAR}, 
      #{contactUserPhone,jdbcType=VARCHAR}, #{contactUserEmail,jdbcType=VARCHAR}, #{contactUserQq,jdbcType=VARCHAR}, 
      #{contactUserWechat,jdbcType=VARCHAR}, #{publishTime,jdbcType=BIGINT}, #{publishUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eden.logistics.common.domain.GoodsSource" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_goods_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depatureAreaId != null" >
        DEPATURE_AREA_ID,
      </if>
      <if test="destinationAreaId != null" >
        DESTINATION_AREA_ID,
      </if>
      <if test="depatureTime != null" >
        DEPATURE_TIME,
      </if>
      <if test="arrivalTime != null" >
        ARRIVAL_TIME,
      </if>
      <if test="transportType != null" >
        TRANSPORT_TYPE,
      </if>
      <if test="goodsType != null" >
        GOODS_TYPE,
      </if>
      <if test="carType != null" >
        CAR_TYPE,
      </if>
      <if test="needCarNumber != null" >
        NEED_CAR_NUMBER,
      </if>
      <if test="goodsDescription != null" >
        GOODS_DESCRIPTION,
      </if>
      <if test="goodsName != null" >
        GOODS_NAME,
      </if>
      <if test="goodsWeight != null" >
        GOODS_WEIGHT,
      </if>
      <if test="goodsVolume != null" >
        GOODS_VOLUME,
      </if>
      <if test="lingdanPrice != null" >
        LINGDAN_PRICE,
      </if>
      <if test="zhengchePrice != null" >
        ZHENGCHE_PRICE,
      </if>
      <if test="priceOfEveryTon != null" >
        PRICE_OF_EVERY_TON,
      </if>
      <if test="priceOfEveryVolume != null" >
        PRICE_OF_EVERY_VOLUME,
      </if>
      <if test="deliveryCompany != null" >
        DELIVERY_COMPANY,
      </if>
      <if test="deliveryAddress != null" >
        DELIVERY_ADDRESS,
      </if>
      <if test="contactUserName != null" >
        CONTACT_USER_NAME,
      </if>
      <if test="contactUserMobile != null" >
        CONTACT_USER_MOBILE,
      </if>
      <if test="contactUserPhone != null" >
        CONTACT_USER_PHONE,
      </if>
      <if test="contactUserEmail != null" >
        CONTACT_USER_EMAIL,
      </if>
      <if test="contactUserQq != null" >
        CONTACT_USER_QQ,
      </if>
      <if test="contactUserWechat != null" >
        CONTACT_USER_WECHAT,
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME,
      </if>
      <if test="publishUserId != null" >
        PUBLISH_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depatureAreaId != null" >
        #{depatureAreaId,jdbcType=INTEGER},
      </if>
      <if test="destinationAreaId != null" >
        #{destinationAreaId,jdbcType=INTEGER},
      </if>
      <if test="depatureTime != null" >
        #{depatureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivalTime != null" >
        #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transportType != null" >
        #{transportType,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=INTEGER},
      </if>
      <if test="needCarNumber != null" >
        #{needCarNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsDescription != null" >
        #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsWeight != null" >
        #{goodsWeight,jdbcType=INTEGER},
      </if>
      <if test="goodsVolume != null" >
        #{goodsVolume,jdbcType=INTEGER},
      </if>
      <if test="lingdanPrice != null" >
        #{lingdanPrice,jdbcType=INTEGER},
      </if>
      <if test="zhengchePrice != null" >
        #{zhengchePrice,jdbcType=INTEGER},
      </if>
      <if test="priceOfEveryTon != null" >
        #{priceOfEveryTon,jdbcType=INTEGER},
      </if>
      <if test="priceOfEveryVolume != null" >
        #{priceOfEveryVolume,jdbcType=INTEGER},
      </if>
      <if test="deliveryCompany != null" >
        #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null" >
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactUserName != null" >
        #{contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="contactUserMobile != null" >
        #{contactUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactUserPhone != null" >
        #{contactUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactUserEmail != null" >
        #{contactUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactUserQq != null" >
        #{contactUserQq,jdbcType=VARCHAR},
      </if>
      <if test="contactUserWechat != null" >
        #{contactUserWechat,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=BIGINT},
      </if>
      <if test="publishUserId != null" >
        #{publishUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eden.logistics.common.domain.GoodsSourceExample" resultType="java.lang.Integer" >
    select count(*) from tbl_goods_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_goods_source
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.depatureAreaId != null" >
        DEPATURE_AREA_ID = #{record.depatureAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.destinationAreaId != null" >
        DESTINATION_AREA_ID = #{record.destinationAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.depatureTime != null" >
        DEPATURE_TIME = #{record.depatureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arrivalTime != null" >
        ARRIVAL_TIME = #{record.arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transportType != null" >
        TRANSPORT_TYPE = #{record.transportType,jdbcType=INTEGER},
      </if>
      <if test="record.goodsType != null" >
        GOODS_TYPE = #{record.goodsType,jdbcType=INTEGER},
      </if>
      <if test="record.carType != null" >
        CAR_TYPE = #{record.carType,jdbcType=INTEGER},
      </if>
      <if test="record.needCarNumber != null" >
        NEED_CAR_NUMBER = #{record.needCarNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsDescription != null" >
        GOODS_DESCRIPTION = #{record.goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null" >
        GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsWeight != null" >
        GOODS_WEIGHT = #{record.goodsWeight,jdbcType=INTEGER},
      </if>
      <if test="record.goodsVolume != null" >
        GOODS_VOLUME = #{record.goodsVolume,jdbcType=INTEGER},
      </if>
      <if test="record.lingdanPrice != null" >
        LINGDAN_PRICE = #{record.lingdanPrice,jdbcType=INTEGER},
      </if>
      <if test="record.zhengchePrice != null" >
        ZHENGCHE_PRICE = #{record.zhengchePrice,jdbcType=INTEGER},
      </if>
      <if test="record.priceOfEveryTon != null" >
        PRICE_OF_EVERY_TON = #{record.priceOfEveryTon,jdbcType=INTEGER},
      </if>
      <if test="record.priceOfEveryVolume != null" >
        PRICE_OF_EVERY_VOLUME = #{record.priceOfEveryVolume,jdbcType=INTEGER},
      </if>
      <if test="record.deliveryCompany != null" >
        DELIVERY_COMPANY = #{record.deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryAddress != null" >
        DELIVERY_ADDRESS = #{record.deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserName != null" >
        CONTACT_USER_NAME = #{record.contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserMobile != null" >
        CONTACT_USER_MOBILE = #{record.contactUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserPhone != null" >
        CONTACT_USER_PHONE = #{record.contactUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserEmail != null" >
        CONTACT_USER_EMAIL = #{record.contactUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserQq != null" >
        CONTACT_USER_QQ = #{record.contactUserQq,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUserWechat != null" >
        CONTACT_USER_WECHAT = #{record.contactUserWechat,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        PUBLISH_TIME = #{record.publishTime,jdbcType=BIGINT},
      </if>
      <if test="record.publishUserId != null" >
        PUBLISH_USER_ID = #{record.publishUserId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_goods_source
    set ID = #{record.id,jdbcType=INTEGER},
      DEPATURE_AREA_ID = #{record.depatureAreaId,jdbcType=INTEGER},
      DESTINATION_AREA_ID = #{record.destinationAreaId,jdbcType=INTEGER},
      DEPATURE_TIME = #{record.depatureTime,jdbcType=TIMESTAMP},
      ARRIVAL_TIME = #{record.arrivalTime,jdbcType=TIMESTAMP},
      TRANSPORT_TYPE = #{record.transportType,jdbcType=INTEGER},
      GOODS_TYPE = #{record.goodsType,jdbcType=INTEGER},
      CAR_TYPE = #{record.carType,jdbcType=INTEGER},
      NEED_CAR_NUMBER = #{record.needCarNumber,jdbcType=INTEGER},
      GOODS_DESCRIPTION = #{record.goodsDescription,jdbcType=VARCHAR},
      GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      GOODS_WEIGHT = #{record.goodsWeight,jdbcType=INTEGER},
      GOODS_VOLUME = #{record.goodsVolume,jdbcType=INTEGER},
      LINGDAN_PRICE = #{record.lingdanPrice,jdbcType=INTEGER},
      ZHENGCHE_PRICE = #{record.zhengchePrice,jdbcType=INTEGER},
      PRICE_OF_EVERY_TON = #{record.priceOfEveryTon,jdbcType=INTEGER},
      PRICE_OF_EVERY_VOLUME = #{record.priceOfEveryVolume,jdbcType=INTEGER},
      DELIVERY_COMPANY = #{record.deliveryCompany,jdbcType=VARCHAR},
      DELIVERY_ADDRESS = #{record.deliveryAddress,jdbcType=VARCHAR},
      CONTACT_USER_NAME = #{record.contactUserName,jdbcType=VARCHAR},
      CONTACT_USER_MOBILE = #{record.contactUserMobile,jdbcType=VARCHAR},
      CONTACT_USER_PHONE = #{record.contactUserPhone,jdbcType=VARCHAR},
      CONTACT_USER_EMAIL = #{record.contactUserEmail,jdbcType=VARCHAR},
      CONTACT_USER_QQ = #{record.contactUserQq,jdbcType=VARCHAR},
      CONTACT_USER_WECHAT = #{record.contactUserWechat,jdbcType=VARCHAR},
      PUBLISH_TIME = #{record.publishTime,jdbcType=BIGINT},
      PUBLISH_USER_ID = #{record.publishUserId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eden.logistics.common.domain.GoodsSource" >
    update tbl_goods_source
    <set >
      <if test="depatureAreaId != null" >
        DEPATURE_AREA_ID = #{depatureAreaId,jdbcType=INTEGER},
      </if>
      <if test="destinationAreaId != null" >
        DESTINATION_AREA_ID = #{destinationAreaId,jdbcType=INTEGER},
      </if>
      <if test="depatureTime != null" >
        DEPATURE_TIME = #{depatureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivalTime != null" >
        ARRIVAL_TIME = #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transportType != null" >
        TRANSPORT_TYPE = #{transportType,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        GOODS_TYPE = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="carType != null" >
        CAR_TYPE = #{carType,jdbcType=INTEGER},
      </if>
      <if test="needCarNumber != null" >
        NEED_CAR_NUMBER = #{needCarNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsDescription != null" >
        GOODS_DESCRIPTION = #{goodsDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsWeight != null" >
        GOODS_WEIGHT = #{goodsWeight,jdbcType=INTEGER},
      </if>
      <if test="goodsVolume != null" >
        GOODS_VOLUME = #{goodsVolume,jdbcType=INTEGER},
      </if>
      <if test="lingdanPrice != null" >
        LINGDAN_PRICE = #{lingdanPrice,jdbcType=INTEGER},
      </if>
      <if test="zhengchePrice != null" >
        ZHENGCHE_PRICE = #{zhengchePrice,jdbcType=INTEGER},
      </if>
      <if test="priceOfEveryTon != null" >
        PRICE_OF_EVERY_TON = #{priceOfEveryTon,jdbcType=INTEGER},
      </if>
      <if test="priceOfEveryVolume != null" >
        PRICE_OF_EVERY_VOLUME = #{priceOfEveryVolume,jdbcType=INTEGER},
      </if>
      <if test="deliveryCompany != null" >
        DELIVERY_COMPANY = #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null" >
        DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactUserName != null" >
        CONTACT_USER_NAME = #{contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="contactUserMobile != null" >
        CONTACT_USER_MOBILE = #{contactUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactUserPhone != null" >
        CONTACT_USER_PHONE = #{contactUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactUserEmail != null" >
        CONTACT_USER_EMAIL = #{contactUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactUserQq != null" >
        CONTACT_USER_QQ = #{contactUserQq,jdbcType=VARCHAR},
      </if>
      <if test="contactUserWechat != null" >
        CONTACT_USER_WECHAT = #{contactUserWechat,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME = #{publishTime,jdbcType=BIGINT},
      </if>
      <if test="publishUserId != null" >
        PUBLISH_USER_ID = #{publishUserId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eden.logistics.common.domain.GoodsSource" >
    update tbl_goods_source
    set DEPATURE_AREA_ID = #{depatureAreaId,jdbcType=INTEGER},
      DESTINATION_AREA_ID = #{destinationAreaId,jdbcType=INTEGER},
      DEPATURE_TIME = #{depatureTime,jdbcType=TIMESTAMP},
      ARRIVAL_TIME = #{arrivalTime,jdbcType=TIMESTAMP},
      TRANSPORT_TYPE = #{transportType,jdbcType=INTEGER},
      GOODS_TYPE = #{goodsType,jdbcType=INTEGER},
      CAR_TYPE = #{carType,jdbcType=INTEGER},
      NEED_CAR_NUMBER = #{needCarNumber,jdbcType=INTEGER},
      GOODS_DESCRIPTION = #{goodsDescription,jdbcType=VARCHAR},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_WEIGHT = #{goodsWeight,jdbcType=INTEGER},
      GOODS_VOLUME = #{goodsVolume,jdbcType=INTEGER},
      LINGDAN_PRICE = #{lingdanPrice,jdbcType=INTEGER},
      ZHENGCHE_PRICE = #{zhengchePrice,jdbcType=INTEGER},
      PRICE_OF_EVERY_TON = #{priceOfEveryTon,jdbcType=INTEGER},
      PRICE_OF_EVERY_VOLUME = #{priceOfEveryVolume,jdbcType=INTEGER},
      DELIVERY_COMPANY = #{deliveryCompany,jdbcType=VARCHAR},
      DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR},
      CONTACT_USER_NAME = #{contactUserName,jdbcType=VARCHAR},
      CONTACT_USER_MOBILE = #{contactUserMobile,jdbcType=VARCHAR},
      CONTACT_USER_PHONE = #{contactUserPhone,jdbcType=VARCHAR},
      CONTACT_USER_EMAIL = #{contactUserEmail,jdbcType=VARCHAR},
      CONTACT_USER_QQ = #{contactUserQq,jdbcType=VARCHAR},
      CONTACT_USER_WECHAT = #{contactUserWechat,jdbcType=VARCHAR},
      PUBLISH_TIME = #{publishTime,jdbcType=BIGINT},
      PUBLISH_USER_ID = #{publishUserId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.eden.logistics.common.domain.GoodsSourceExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_goods_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>